@tailwind base;
@tailwind components;
@tailwind utilities;


img{
    max-height: 100%
}
h1{
    @apply text-gray-800 mb-4 text-xl
}
input, textarea, select{
    @apply border border-gray-200 rounded-sm px-3 py-2 w-full ;
    
    @apply mb-2
}
input:focus, textarea:focus, select:focus{
    @apply  border-blue-900
}

label{
    @apply text-gray-600 text-sm
}

.btn-primary{
    @apply bg-primary text-white px-4 rounded-sm py-1 shadow-sm
}
table.basic{
    @apply w-full bg-white rounded-sm shadow-md
}
table.basic thead tr td{
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2
}
table.basic tr td{
    @apply  px-4 py-1;
}

table.basic a{
    @apply  text-sm py-1 px-4 rounded-sm  inline-flex mx-1 items-center gap-1
}

.btn-default, .btn-red{
    @apply px-4 py-1 rounded-md
}
.btn-red{
    @apply bg-red-200 text-red-800 rounded-sm shadow-sm
}
.btn-default{
    @apply bg-white text-gray-800 px-4 rounded-sm py-1 border border-gray-200 shadow-sm
}



.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
